body {
    text-align: center;
    background-image: linear-gradient(90deg, #f2f2f2 1px, transparent 1px), linear-gradient(#f2f2f2 1px, transparent 1px);
    background-size: 51px 51px;
}
h1 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-size: 60px;
  color: #FFF;
  -webkit-text-stroke: 2px black;
  paint-order: stroke;
}
form {
    display: inline;
}
table {
    margin: 0 auto;
}
button.add {
    display: inline-block;
    color: #FFF;
    font-size: 16px;
    background-color: #ffb2b2;
    padding: 5px 12px;
    border: none;
}
button.add:hover {
    background-color: #ff9e9e;
}
button.delete {
    display: inline-block;
    color: #FFF;
    font-size: 16px;
    background-color: #a6d8e4;
    padding: 5px 12px;
    border: none;
}
button.delete:hover {
    background-color: #91cbe0;
}

table {
    border-collapse: collapse;
}
th,td {
    padding: 10px 8px;
}
tr {
    border-bottom: 1px solid #adadad;
}

.tab-switch {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
    gap: 5px;
}
.tab-switch > label {
    flex: 1 1 auto;
    order: -1;
    position: relative;
    padding: 10px 12px;
    background-color: #f2f3f4;
    color: #999;
    text-align: center;
    transition: .3s all;
}
.tab-switch > label:hover,.tab-switch label:has(:checked) {
    background-color: #757f96;
    color: #fff;
}
.tab-switch input {
    display: none;
}
.tab-switch > div {
    display: none;
    width: 100%;
    padding: 1.5em 1em;
}
.tab-switch label:has(:checked) + div {
    display: block;
}